{% extends 'seller-header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>
    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">My Products</span></h2>
        <div class="row px-xl-5">
            {% for i in products %}

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{i.product_image.url}}" alt="" style="width:250px;height: 250px;">
                        <div class="product-action">
                            
                            <a class="btn btn-outline-dark btn-square" href="{% url 'seller-product-detail' pk=i.pk %}"><i class="fa fa-info-circle"></i></a>
                           
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">{{i.product_name}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{i.product_price}}</h5>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Products End -->


   
</body>

</html>
{% endblock %}